body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
table
{
    border-collapse:separate;
        empty-cells: show;

}
.asterik
{
	color:Red;
}
 
.entryTable td
{
    font-size: 12px;
    border: 1px solid #91B3DD;
}
.entryTable .labelCol
{
    background-color: #DDEEFF;
    font-family: Arial, Helvetica, sans-seri;
    font-size: 12px;
    color: blue;
}
.entryTable .dataCol
{    
	background-color: #DDEEFF;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: black;
}
.entryTable .emptyCell
{
    background-color: #FFFFFF;
    border: none;
}

.entryTable .noneBorder td
{
    font-size: 12px;
    border: 0 none;
    padding: 10 0 0 0;
}

.caption
{
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    background-color: #3366FF;
}

.gvGeneral td  
{
    background-color: white;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: black;
	border: 1px solid #91B3DD;
}

.gvGeneral th
{
    background-color: #DDEEFF;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: blue;
	border: 1px solid #91B3DD;
}

.tabTitle
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-seri;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    height: 100px;
}

.imageBtn
{
    cursor: pointer;
}

.radioButtonList
{
    margin : 0;
    border: 0 none;
}

.radioButtonList td
{
    margin : 0;
    border: 0 none;
}

/*.topbg{
	background-color: #00509F;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;
}

.topbg1{
	background-color: #ccddee;
	color: #003366;
}

.highlightMessage{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ff0000;
}


.table_bg{
	background-color: #FFFFFF;
	border-top: 2px solid #CCCCCC;
	border-right: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	border-left: 2px solid #CCCCCC;
}


.filterClass{
	background-color: white;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: black;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003366;
	font-weight: bold;
	border: none;
	text-decoration: underline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}


hr {
	width: 100%;
	height: 1px;
	text-align: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
a:hover {
	color: #0066CC;
	text-decoration: none;

}
a:link {
	color: #003399;
}
input {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	width: 185px;
}

textarea {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #CCCCCC;
	border-left-color: #999999;
	border-bottom-color: #CCCCCC;
}

select {
	background-position: right;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #CCCCCC;
	border-left-color: #999999;
	border-bottom-color: #CCCCCC;
	text-align: right;
}

.vline {
	border-top: 1px solid #999999;
	border-right: 0px solid #999999;
	border-bottom: 0px solid #999999;
	border-left: 0px solid #999999;
}

.vBroder {
	border-top: 0px solid #999999;
	border-right: 0px solid #999999;
	border-bottom: 0px solid #999999;
	border-left: 0px solid #999999;
}

.txtReadOnly{
	background-color : #ebebeb;
}

.logo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	width: 400px;
	border: 0px none;
	background-image: url(image/bg.jpg);
	text-align: center;
}
.header-table {
	width: 740px;
	border: 0px none;
}
.header-cell {
	border: 0px none;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

.header-cell-bule {
	background-color: #42A4FF;
	border: 0px none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.header-button {
	width: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
	left: 0px;
	clip:  rect(0px auto auto auto);
	border: 0px none;
}

.header-cell-dbule {
	border: 0px none;
	background-image: url(image/headerbg.jpg);
	background-position: left top;
}*/

.header-cell-lbule
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border: 0px none #99CCFF;
    background-position: center;
    margin: 0px;
    padding: 2px;
    background-color: #91B3DD;
    color: #000000;
}

.header-cell-lbule a:link,
.header-cell-lbule a:visited { color:#000000; text-decoration:none; }
.header-cell-lbule a:hover,
.header-cell-lbule a:active { color:#000000; }
/*
.header-table2 {
	width: 740px;
	border: 0px none;

}
.header-cell2 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F4F4F4;
	border-top: 0px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.header-cell-blackbg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #000066;
	text-decoration: none;
	clear: none;
	float: none;
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.subbutton {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	margin: 0px;
	padding: 0px;
	width: 148px;
}
.header-cell-blackbg2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #000066;
	text-decoration: none;
	clear: none;
	float: none;
	margin: 0px;
	padding: 0px;

}
.leftbg {
}
.textcontrol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
*/

/*-----------------------------*/


/*-----------------------------*/
/* redefined in prodSystem.css */
/*-----------------------------*/
/*.navigatorbar{
	background-color: #CCCCFF;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: blue;
}

.title_bar{
	background-color: #EBE7FE;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: blue;
	border: 1px solid #999999;

}

.content{
	background-color: white;
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: black;
	border: 1px solid #999999;
}

.edit {
	font-family: Arial, Helvetica, sans-seri;
	font-size: 12px;
	color: black;
}*/

/*AutoComplete flyout */

.autocomplete_completionListElement 
{  
	visibility : hidden;
	margin : 0px!important;
	background-color : inherit;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
}